[submodule "modules/bbl-git-lib"]
	path = modules/bbl-git-lib
	url = https://github.com/berbascum/bbl-git-lib
	branch = berb-develop
[submodule "modules/bbl-general-lib"]
	path = modules/bbl-general-lib
	url = https://github.com/berbascum/bbl-general-lib
	branch = berb-develop
